<!DOCTYPE HTML>
<html>
	<head>
		<title>Process Engine</title>
		<meta name="author" content="Leopold Mathias Regner" />
		<meta http-equiv="content-type" content="text/html; charset=utf8" />
		<link rel="stylesheet" type="text/css" href="app.css" />
		<link rel="stylesheet" type="text/css" href="bpm.css" />
		<link rel="stylesheet" type="text/css" href="menu.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
		<script type="text/javascript" src="bpm.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-app="processEngine">
		<div ng-controller="bpmController">
			<div id="visualization">
				<table class="bpmn" ng-class="{ running: running }">
					<tr>
						<td>
							<img src="icons/start.svg" title="start of process" ng-click="runProcess()" />
							<div class="connector" style="height: 50%; top: 50%" />
						</td>
					</tr>
                    <tr>
                        <td>
                            <table ng-include="'sequence'"></table>
                        </td>
                    </tr>
					<tr>
						<td>
							<img src="icons/end.svg" title="end of process" />
							<div class="connector" style="height: 50%" />
						</td>
					</tr>
				</table>
				<script id="sequence" type="text/ng-template">
					<tbody ng-repeat="(index, task) in process">
						<tr ng-if="task.type == 'script'">
							<td>
								<img class="labeled" src="icons/script.svg" title="script task" ng-click="edit(task, process, index, $event)" />
								<span class="label">{{ task.name }}</span>
								<div class="connector" />
							</td>
						</tr>
						<tr ng-if="task.type == 'webservice'">
							<td>
								<img class="labeled" src="icons/webservice.svg" title="web service task" ng-click="edit(task, process, index, $event)" />
								<span class="label">{{ task.name }}</span>
								<div class="connector" />
							</td>
						</tr>
						<tr ng-if="task.type == 'parallel'">
							<td>
								<table class="subtable">
									<tr>
										<td colspan="{{ task.branches.length }}">
											<img src="icons/parallel.svg" title="parallelity" ng-click="edit(task, process, index, $event)" />
											<div class="connector" />
											<hr class="fork" />
										</td>
									</tr>
									<tr class="branchrow">
										<td ng-repeat="process in task.branches">
											<table ng-include="'sequence'" />
										</td>
									</tr>
									<tr>
										<td colspan="{{ task.branches.length}}">
											<hr class="merge" />
											<div class="connector" />
											<img src="icons/merge.svg" title="end of parallelity" ng-click="edit(task, process, index, $event)" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr ng-if="task.type == 'or' || task.type == 'xor'">
							<td>
								<table>
									<tr>
										<td colspan="{{ count(task.branches) }}">
											<img src="icons/xor.svg" title="decision" ng-click="edit(task, process, index, $event)" />
											<div class="connector" />
											<hr class="fork" />
										</td>
									</tr>
									<tr>
										<td ng-repeat="(condition, process) in task.branches">
											<table>
												<tr>
													<td>
														<input class="condition" type="text" ng-model="condition" />
														<div class="connector" />
													</td>
												</tr>
												<tr>
													<td>
														<table ng-include="'sequence'" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr class="short">
										<td colspan="{{ count(task.branches) }}">
											<hr class="merge" />
											<div class="connector" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
                        <tr ng-if="task.type == 'loop'">
                            <td>
                                <table>
                                    <tr class="short">
                                        <td colspan="2">
                                            <div class="connector" />
                                            <hr class="fork" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &#x25B2;
                                            <div class="connector" />
                                        </td>
                                        <td ng-repeat="process in [ task.branch ]">
                                            <table ng-include="'sequence'" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <hr class="merge" />
                                            <div class="connector" />
                                            <img src="icons/loop.svg" title="loop" ng-click="edit(task, process, index, $event)" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input class="condition" type="text" ng-model="task.end" />
                                            <div class="connector" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
					</tbody>
                    <tr style="height: auto">
                        <td>
                            <img ng-if="!process || process.length == 0" class="emptyBranchIndicator" src="icons/empty.svg" ng-click="edit(process, $event)" />
                            <div class="connector" />
                        </td>
                    </tr>
				</script>
			</div>
            <div>
                <div id="fog" ng-if="showMenu" ng-click="hideMenu()"></div>
                <div id="menu" style="display: none">
                    <table>
                        <tr ng-click="taskEditor(showMenu)" ng-if="showMenu.task.type == 'script' || showMenu.task.type == 'webservice'">
                            <td><img src="icons/edit.svg" /></td>
                            <td>open task editor</td>
                        </tr>
                        <tr ng-click="deleteElement(showMenu)" ng-if="showMenu.parentBranch">
                            <td><img src="icons/delete.svg" /></td>
                            <td>delete element</td>
                        </tr>
                        <tr ng-click="insertAbove(showMenu)" ng-if="showMenu.parentBranch">
                            <td><img src="icons/insert_above.svg" /></td>
                            <td>add element above</td>
                        </tr>
                        <tr ng-click="insertBelow(showMenu)" ng-if="showMenu.parentBranch">
                            <td><img src="icons/insert_below.svg" /></td>
                            <td>add element below</td>
                        </tr>
                        <tr ng-click="insertBelow(showMenu)" ng-if="!showMenu.parentBranch">
                            <td><img src="icons/insert_above.svg" /></td>
                            <td>add element here</td>
                        </tr>
                        <tr ng-click="addBranch(showMenu)" ng-if="showMenu.task.type == 'parallel' || showMenu.task.type == 'xor' || showMenu.task.type == 'or'">
                            <td><img src="icons/add_branch.svg" /></td>
                            <td>add branch</td>
                        </tr>
                        <tr ng-click="hideMenu()">
                            <td><img src="icons/cancel.svg" /></td>
                            <td>cancel</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="dashboard">
                <div id="vars">
                    <table>
                        <tr>
                            <th>variable name</th>
                            <th>variable value</th>
                            <th width="20"><img src="icons/add_branch.svg" ng-click="addVar()" /></th>
                        </tr>
                        <tr ng-repeat="(key, value) in vars">
                            <td>{{ key }}</td>
                            <td><input type="text" ng-model="vars[key]" /></td>
                            <td width="20"><img src="icons/delete.svg" ng-click="deleteVar(key)" /></td>
                        </tr>
                        <tr ng-if="count(vars) == 0">
                            <td colspan="2">
                                no variables existing
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="log">
                    <ul>
                        <li ng-repeat="log in logs">
                            {{ log }}
                        </li>
                        <li ng-if="logs.length == 0">
                            no logs available yet
                        </li>
                    </ul>
                </div>
            </div>
		</div>
	</body>
</html>