<!DOCTYPE HTML>
<html>
	<head>
		<title>Process Engine</title>
		<meta name="author" content="Leopold Mathias Regner" />
		<meta http-equiv="content-type" content="text/html; charset=utf8" />
        <link rel="icon" type="image/svg+xml" href="icons/favicon.svg" />
        <link rel="icon" type="image/png" href="icons/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<link rel="stylesheet" type="text/css" href="css/bpm.css" />
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
        <link rel="stylesheet" type="text/css" href="css/dashboard.css" />
		<script type="text/javascript" src="libs/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="libs/jquery-binary-data.js"></script>
		<script type="text/javascript" src="libs/angular.min.js"></script>
		<script type="text/javascript" src="bpm.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-app="processEngine">
		<div ng-controller="bpmController" ng-file-drop="processUploaded">
            <div id="visualization" ng-include="'templates/bpmn.html'"></div>
            <div>
                <div id="fog" ng-if="showMenu || showModal" ng-click="hideMenu() || hideModal()"></div>
                <div id="menu" style="display: none" ng-include="'templates/menu.html'"></div>
                <div id="modal" ng-if="showModal" ng-include="showModal.modal == 'new' ? 'templates/gallery.html' : 'templates/editor.html'"></div>
            </div>
            <div id="dashboard" ng-include="'templates/dashboard.html'"></div>
		</div>
	</body>
</html>